---
import "@/styles/globals.css";
import { Form } from "@components/Form";
import { Generator } from "@components/Generator";
import { Navigation } from "@components/Navigation";
import Layout from "@layouts/Layout.astro";
---

<Layout title="README Generator">
  <main class="grid grid-cols-1 lg:grid-cols-2">
    <Navigation client:only="react"/>
    <div id="editor">
      <Form client:only="react" />
    </div>
    <div class="h-[88vh] p-5 overflow-auto hidden lg:block" id="preview">
      <Generator client:only="react" />
    </div>
  </main>
</Layout>

<style></style>
