---
import "@/styles/globals.css";
import { Form } from "@components/Form";
import { Generator } from "@components/Generator.tsx";
import Layout from "@layouts/Layout.astro";
---

<Layout title="README Generator">
  <main class="grid grid-cols-2">
    <Form client:only="react" />
    <Generator client:only="react" />
  </main>
</Layout>

<style></style>
